.nesting {
  position: relative;
  margin: 10px;
  padding: 10px;
  max-width: 22em;
  border: 1px solid #ddd;
  background: #f4f2f0;

  & .notes {
    color: #345;
    margin-top: 20px;
    border-top: 4px double #ccc;
  }
  & h4 {
    margin: 1em 0 0;
  }
  & ul {
    margin: 0;
    padding: 0.25em 1em;
  }
  & li > ul {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 90%;
  }
  & ul > li {
    padding: 0.25em 0;
  }
  & code {
    font:
      100%/1.3 "Source Code Pro",
      monaco,
      menlo;
    color: #0a8138;
  }

  & output {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.25em;
    min-width: 2.5em;
    height: 1.3em;
    border-radius: 0.3em;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    box-shadow:
      0 0 0 0.5px rgba(0, 0, 0, 0.1),
      inset 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  & .render-count {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0.3em;
    font-size: 70%;
  }

  & .object-editor {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 5px 5px;
    border: 1px solid #abc;
    background: #fff;
    border-radius: 5px;
  }

  & .clock {
    position: fixed;
    right: 0;
    top: 3.2em;
    width: 6em;
    padding: 1.1em 1em 0.8em;
    text-align: center;
    background: burlywood;
    color: darkolivegreen;
  }

  & table {
    table-layout: fixed;
  }
  & table th {
    text-align: left;
  }
  & table th:first-child,
  & table td:first-child {
    width: 7em;
    text-align: right;
    font-weight: bold;
  }
  & table th:nth-child(2),
  & table td:nth-child(2) {
    width: 4em;
    padding-left: 0.5em;
  }
  & table td:nth-child(3) {
    width: 10em;
  }
}
