name: compressed-size

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9.12

      - name: compressed-size-action
        uses: preactjs/compressed-size-action@v2
        with:
          pattern: "{packages/*/dist/!(*.module|*.min).{js,mjs},docs/dist/**/*.{js,css}}"
          build-script: "ci:build"
          strip-hash: "[.-](\\w{8,9})\\.(?:js|css)$"
