name: CI

on:
  push:
    branches:
      - main
      - vitest-migration
  pull_request:
    branches:
      - main
      - vitest-migration

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10.7.0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Lint
        run: pnpm lint

      - name: Tests
        run: pnpm test

      - name: Test production build
        run: pnpm test:minify

      - name: Test react production build
        run: pnpm test:prod

      - name: Prepare runtime with React 16
        working-directory: packages/react/runtime
        run: |
          pnpm i react@16 react-dom@16 react-router-dom@5

      - name: Test React 16
        working-directory: packages/react
        run: |
          pnpm i react@16 react-dom@16 react-router-dom@5
          pnpm -w test:minify
          pnpm -w test:prod
